
/* div que centra el logo e icono */
#minav-centre {
    width: 96%;
    margin: 0 auto;
}

/* contenedor del logo con icono hamburguesa */
#minav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em 2em .4em .5em;
}

/* logo */
#minav-top img {
    width: 80px;
    filter: drop-shadow(4px 4px 4px black);
}

/* icono settings */
.tools {
    cursor: pointer;
    transform: scale(1.8);
    color: var(--firebase-gray);
}

/* rotando activo */
@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1.8);
    }

    100% {
        transform: rotate(90deg) scale(1.8);
    }
}

/* rotando desactivo */
@keyframes rotate2 {
    0% {
        transform: rotate(0deg) scale(1.8);
    }

    100% {
        transform: rotate(-180deg) scale(1.8);
    }
}

/* contenedor de los enlaces */
#minav-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40px;
    height: 300px;
    position: absolute;
    right: -220px;
    padding: 1.4em 1.2em;
    transition: right .2s; /* efecto de movimiento */

    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* iconos en el menu */
#minav-bottom svg {
   transform: scale(1.4);
   cursor: pointer;
}

#minav-bottom svg:hover {
    color: var(--firebase-gray);
}

#minav-bottom svg:not(:last-child) {
    margin-bottom: 1.2em;
}

/* estado activo */
.minav-bottom-active {
    right: 30px !important;
}

/* icono activo */
.settings-active {
    animation: rotate .4s forwards;
}

/* icono activo */
.settings-inactive {
    animation: rotate2 .4s forwards;
}