:root {
    --height: 100vh;
}

#nav {
    width: 100vw;
    display: flex;
}

#nav-left {
    background-color: var(--discord-black4);
    color: var(--default-shadow-gray);
    /* margin: 4em 1em 0; */
    width: 400px;
    height: var(--height);
}

/* fondo */
#nav-right {
    background-image: linear-gradient( 111.1deg,  rgba(0,40,70,1) -4.8%, rgba(255,115,115,1) 82.7%, rgba(255,175,123,1) 97.2% );
    min-height: 100vh;
    width: calc(100vw - 400px);
}

#nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--height);
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 1em; */
}

/* imagen de perfil */
#profile-image {
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    outline: 2px solid var(--firebase-gray);
    box-shadow: 0px 0px 100px -20px var(--default-shadow-gray);
    animation: pulse 3s infinite;
}

/* nombre de perfil */
#profile-name {
    color: var(--firebase-gray);
}

/* Animación */
@keyframes pulse {
    0% {
      box-shadow:  0px 0px 100px -20px var(--default-shadow-gray);
    }
    50% {
      box-shadow: 0px 0px 100px -20px var(--discord-blue);
    }
    100% {
      box-shadow:  0px 0px 100px -20px var(--default-shadow-gray);
    }
}

/* contenedor de enlaces */
#links-nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 1em 0;
}

/* enlaces */
#links-nav a {
    color: var(--firebase-gray);
    width: 100%;
    background-color: rgba(110, 110, 110, 0.2);
    padding: .6em 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* icono de cada enlace */
#links-nav a svg {
    color: var(--default-shadow-gray) !important;
}

#links-nav a:hover {
    background-color: rgba(110, 110, 110, 0.4);
}