/* contenedor de repositorios */
#repo {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 8px;
    width: 35%;
}

/* bloque que contiene titulo y repositorios */
#repo-content {
    height: calc(100% - 2em);
    width: 80%;
    margin: 0 auto;
}

/* titulo */
#repo-content > div:first-child {
    font-size: 26px;
    margin: 1em 0;
}

#repositories {
    height: calc(100% - 5.6em);
    overflow-y: scroll;
}

#git-repo:not(:last-child) {
    margin-bottom: 1em;
}

#git-repo {
    margin-right: 10px;
    padding: 1em;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .1);
}

#repo-name {
    display: flex;
    gap: 10px;
    align-items: center;
}

#repo-name svg {
    color: #dda8a8;
}

/* lenguaje mas usado y descripcion */
#repo-language, #repo-description {
    font-size: 16px;
    color: #ecc2c2;
}

/* contenedor del link y language */
#repo-link-language {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: .4em;
}

/* languaje mayor escrito del repo */
#repo-language {
    color: #ecc2c2;
}

/* boton que envia al repositorio de github */
#repo-btn {
    background-color: rgba(0, 0, 0, .1);
    padding: 6px 10px;
    width: fit-content;
    color: #ecc2c2;
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 6px;
}

#repo-btn:hover {
    background-color: rgba(0, 0, 0, .2);
}

#repo-btn svg {
    transform: scale(0.8);
    margin-top: -2px;
}

#repo-description {
    margin: 1em 0;
}